/* line 3, ../../sass/partials/navs.scss */
.nav-wrapper {
  background: #00d55a;
  border-bottom: 1px solid #eee;
  color: #fcfcfc;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 100;
  height: 30%;
  width: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  z-index: 1000000;
  -webkit-animation: banner-scroll-expand 300ms;
  -moz-animation: banner-scroll-expand 300ms;
  -ms-animation: banner-scroll-expand 300ms;
  -o-animation: banner-scroll-expand 300ms;
  animation: banner-scroll-expand 300ms;
}

/* line 20, ../../sass/partials/navs.scss */
.nav-wrapper.shrink {
  border-radius: 100%;
  height: 120px;
  width: 150px;
  top: -60px;
  left: 50%;
  margin-left: -75px;
  -webkit-animation: banner-scroll-shrink 300ms;
  -moz-animation: banner-scroll-shrink 300ms;
  -ms-animation: banner-scroll-shrink 300ms;
  -o-animation: banner-scroll-shrink 300ms;
  animation: banner-scroll-shrink 300ms;
}

@-webkit-keyframes banner-scroll-shrink {
  0% {
    border-radius: 0;
  }
  100% {
    border-radius: 100%;
    width: 150px;
    top: -60px;
  }
}
@-moz-keyframes banner-scroll-shrink {
  0% {
    border-radius: 0;
  }
  100% {
    border-radius: 100%;
    width: 150px;
    top: -60px;
  }
}
@-ms-keyframes banner-scroll-shrink {
  0% {
    border-radius: 0;
  }
  100% {
    border-radius: 100%;
    width: 150px;
    top: -60px;
  }
}
@-o-keyframes banner-scroll-shrink {
  0% {
    border-radius: 0;
  }
  100% {
    border-radius: 100%;
    width: 150px;
    top: -60px;
  }
}
@keyframes banner-scroll-shrink {
  0% {
    border-radius: 0;
  }
  100% {
    border-radius: 100%;
    width: 150px;
    top: -60px;
  }
}
@-webkit-keyframes banner-scroll-expand {
  0% {
    border-radius: 100%;
    top: -60px;
  }
  100% {
    border-radius: 0;
    top: 0;
  }
}
@-moz-keyframes banner-scroll-expand {
  0% {
    border-radius: 100%;
    top: -60px;
  }
  100% {
    border-radius: 0;
    top: 0;
  }
}
@-ms-keyframes banner-scroll-expand {
  0% {
    border-radius: 100%;
    top: -60px;
  }
  100% {
    border-radius: 0;
    top: 0;
  }
}
@-o-keyframes banner-scroll-expand {
  0% {
    border-radius: 100%;
    top: -60px;
  }
  100% {
    border-radius: 0;
    top: 0;
  }
}
@keyframes banner-scroll-expand {
  0% {
    border-radius: 100%;
    top: -60px;
  }
  100% {
    border-radius: 0;
    top: 0;
  }
}
/* line 52, ../../sass/partials/navs.scss */
.logo {
  color: #fff;
  font-size: 120px;
  left: 50%;
  margin: 0 0 0 -55px;
  position: absolute;
}

/* line 61, ../../sass/partials/navs.scss */
.nav-wrapper.shrink .logo {
  font-size: 50px;
  margin: 22px 0 0 -22px;
}

@media (min-width: 719px) {
  /* line 67, ../../sass/partials/navs.scss */
  .nav-wrapper {
    width: 80%;
    left: 50%;
    margin: 0 0 0 -40%;
  }
}
