{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="robots" content="index, follow" />
    <meta name="owner" content="Michael Otte" />
    <meta name="fragment" content="!" />
    <meta name="description" content="{% block description %}List of food trucks brought to you by Michael Otte{% endblock %}" />
    <meta name="keywords" content="{% block keywords %}Michael Otte, food trucks{% endblock %}" />
    <meta name="viewport" content="width=device-width" />

    <title>{% block page_title %}Food Trucks{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'stylesheets/main.css' %}" />
    <link href='//fonts.googleapis.com/css?family=Lora:400italic,800italic' rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,100,700" rel="stylesheet" type="text/css" />
    {% block more_head_scripts %}{% endblock %}

    <link rel="shortcut icon" href="{% static 'img/foodtruck-20150220.ico' %}" />
    <link rel="apple-touch-icon" href="{% static 'img/foodtruck-icon-57x57.png' %}" />
    <link rel="apple-touch-icon-precomposed" href="{% static 'img/foodtruck-icon-57x57.png' %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/foodtruck-icon-72x72.png' %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/foodtruck-icon-114x114.png' %}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/foodtruck-icon-144x144.png' %}" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body>
    <nav>

    </nav>

    <div id="container"></div>
    <div id="cont"></div>

{% block main_content %}{% endblock %}

<!-- The core React library -->
<script src="//fb.me/react-0.13.1.min.js"></script>

<script>
    // Notice the Capital Case of ReactJS instead of camel
    var HelloMessage = React.createClass({
        render: function() {
            return React.createElement("div", null, "hello", this.props.name);
        }
    });

    React.render(
        React.createElement(HelloMessage, {name: "John"}),
        document.getElementById('container')
    );

    /* This does a nice live counter */
    var Timer = React.createClass({displayName: "Timer",
        getInitialState: function() {
            return {secondsElapsed: 0};
        },
        tick: function() {
            this.setState({secondsElapsed: this.state.secondsElapsed + 1});
        },
        componentDidMount: function() {
            this.interval = setInterval(this.tick, 1000);
        },
        componentWillUnmount: function() {
            clearInterval(this.interval);
        },
        render: function() {
            return (
                React.createElement("div", null, "Seconds Elapsed: ",
                this.state.secondsElapsed)
            );
        }
    });

    var mountNode = document.getElementById('cont');
    React.render(React.createElement(Timer, null), mountNode);
</script>
{% block more_body_scripts %}{% endblock %}
</body>
</html>